body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  height: 800px;
  width: 480px;
  background-color: blue;
  border-radius: 40px;
}